
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rubik:wght@400&display=swap&family=Poppins:wght@400&family=Poppins:wght@300&display=swap');
:root {
    /*      USE:    
            var()   
    */
    --font-size-1: 2rem;

    --font-family-1: 'Poppins';
    --font-family-2: 'Rubik';
    
    --font-color-1: rgba(46, 31, 39, 1);
    --basecolor-1: rgba(190, 186, 180, 1);
    --basecolor-2: calc(var(--cell-size)* .9 ) ;
}




body, html {
    color: var(--font-color-1);
    /* margin-top: 0px; */
    /* margin-right: 0px;
    margin-left: 0px; */
    margin: 0 1em 0 1em;
    font-family: var(--font-family-1);
    z-index: 100;
    background-color: var(--basecolor-1);

}
.logo-box{    
    text-align: center;
    margin: 2.5em 0 0 0;
}
.logo{
    font-family: var(--font-family-1);
    font-weight: bolder;
    display: inline-block;

    font-size: calc(var(--font-size-1)*1.08);
}
.logo2{
    font-family: var(--font-family-1);
    font-weight: lighter;
    display: inline-block;

    font-size: calc(var(--font-size-1)*1.047);
}

.contentbox{
    position: relative;
    
}

.text{
    font-size: var(--font-size-1);
    font-weight: lighter;
}


.bookButton{

    padding: 2% 10% 2% 10%;
    display: inline-block;
    width: max-content;
    font-family: var(--font-family-2);
    color: var(--font-color-1);
    position: fixed;
    transform: translate(50%);
    top: 87%;
    right: 50%;
 
    background-color: rgba(217, 217, 217, 1);
    font-weight: bold;
    border: 30px;
    font-size: 2.8rem;
    border-radius: 100px;
    user-select: none;
}

.bookButton:hover {
    box-shadow: 0px 0px 0px calc(0.5rem ) var(--font-color-1) inset;
    border-color: var(--font-color-1) ;
    /* text-shadow: 2px 5px 0px rgba(46, 31, 39, 0.3); */
}

/* @media all (max-with) {

    
} */