
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rubik:wght@400&display=swap&family=Poppins:wght@400&family=Poppins:wght@300&display=swap');
:root {
    /*      USE:    
            var()   
    */
    
    --golden-ratio: 1.618;

    --font-size-1: 4.7vw;
    
    --logo-size-1: calc(var(--font-size-1)*1.618*1.618);

    --button-size-1: calc(var(--logo-size-1)*.718);

    --button-sides: calc(100vw * .618 * .618 * .618 * .618 * .618 );
    --button-top: calc(var(--button-sides) * .618 * .618 * .618 * .618 * .618   );


    --heading-margin: 1em;
    --LR-margins: 2.5em;

    --scroll-height: calc( 100vh - calc(var(--logo-size-1)*1.618) );
    
    
    --font-family-1: 'Poppins';
    --font-family-2: 'Rubik';
    
    --font-color-1: rgba(46, 31, 39, 1);
    --basecolor-1: rgba(190, 186, 180, 1);
    --basecolor-2: calc(var(--cell-size)* .9 ) ;
}

/* *{
\
} */


body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color-1);
    /* margin-top: 0px; */
    /* margin-right: 0px;
    margin-left: 0px; */
    margin: 0 0 0 0;
    font-family: var(--font-family-1);
    z-index: 100;
    background-color: var(--basecolor-1);

}

p{
    margin-top: 0;
    margin-bottom: 0;

}

.scroll-bar-div{
    width: 100vw;
    height: var(--scroll-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* outline: auto; */
}

.scroll-bar-div::after{
    content: '';
    display:flex;
    width: 100%;
    height: 2px;
    background-color: blue;
    /* box-shadow: 0px 0px 80px calc(20.8rem ) var(--basecolor-1); */

}

.scroll-containers{
    position: relative;
    width: 100vw;
    height: var(--scroll-height);
}


.scroll-size-function{
    width: 100%;
    height: var(--scroll-height);
    display: flex;
    justify-content: left;
    align-items: top;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;

}
.scroll-items-size{

    min-width: 100%;
    height: var(--scroll-height);
    /* cursor: pointer; */
    /* border: 6px solid blue; */
    overflow: hidden;
}

.scroll-img{
    z-index: 1;
    width: 100%;
    height: 70%;
    object-fit: cover;

}




.logo-box{
    /* display: flex; */
    display: inline-block;
    align-items: center;    
    text-align: center;
    margin: var(--heading-margin) 0 0 0;
}
.logo{
    display: inline-block;
    /* display: flex;
    margin: 0 0 0 0;
    align-items: end; */
    /* height: calc(var(--logo-size-1)* 1.9); */
    font-family: var(--font-family-1);
    font-weight: bolder;

    font-size: calc(var(--logo-size-1));
}
.logo2{
    /* display: flex;
    margin: 0 0 0 0;
    align-items: end; */
    /* height: calc(var(--logo-size-1)* 1.9); */
    display:  inline-block;
    font-family: var(--font-family-1);
    font-weight: lighter;
    font-size: calc(var(--logo-size-1)* .89);
}
.content-post-images{
    /* margin-top: -60vw; */
    background-color: var(--basecolor-1);
    /* box-shadow: 0px 0px 50px calc(8.8rem ) var(--basecolor-1); */
}

.text-margin{
    margin: 0 var(--LR-margins) 0 var(--LR-margins);
}

.scroll-texts{
    color: var(--basecolor-1);
    display: flex;
    flex: 1;
    gap: 0em;
    flex-direction: column;
    position: relative;
    z-index: 1;
    top: calc(-100vh  * 0.618 * 0.618 * 0.618 * 0.618);
    
}


.scroll-icons{
    margin-top: auto;
    height: 100%;
    text-align: center;
    justify-content: center;

}

.text{
    font-size: var(--font-size-1);
    font-weight: normal;
}

.title{

    font-size: calc(var(--font-size-1) * 1.618);
    font-weight: bold;
    
}

.scroll-texts::after{
    z-index: -1;
    position: absolute;
    content: '';
    display:flex;
    background-color: var(--font-color-1);
    width: 200vw;
    height: 200vh;
    right: -100%;
    top: -3vh;
    filter: blur(40px);
    /* opacity: 0; */
    /* box-shadow: 100px 1px 0px 30px black; */
    /* calc(24.5rem ) var(--basecolor-1) var() */
}




.bookButton{

    z-index: 5;

    padding: 2% var(--button-sides) 2% var(--button-sides);
    display: inline-block;
    width: max-content;
    font-family: var(--font-family-2);
    color: var(--font-color-1);
    position: fixed;
    transform: translate(50%);
    bottom: 6vh;
    right: 50%;

    background-color: rgba(217, 217, 217, 1);
    font-weight: bold;
    border: 30px;
    font-size: var(--button-size-1);
    border-radius: 100px;
    user-select: none;
}





.bookButton:hover {
    box-shadow: 0px 0px 0px calc(0.5rem) var(--font-color-1) inset;
    border-color: var(--font-color-1) ;
    /* text-shadow: 2px 5px 0px rgba(46, 31, 39, 0.3); */
}



/* and (min-width: 900px) and (min-height: 100px) */
@media screen and (min-width: 900px) and (min-height: 100px){
    :root {
        /*      USE:    
                var()   
        */
        /* --font-size-1: 4.7vw;
    
        --logo-size-1: calc(var(--font-size-1)*1.618*1.618);
    
        --button-size-1: calc(var(--logo-size-1));
    
        --heading-margin: 1em;
        --LR-margins: 2.5em;
    
        --scroll-height: calc( 100vh - calc(var(--logo-size-1)*1.618) ); */



        --font-size-1: 1.15em;

        --LR-margins: 6.5em;
    
        --logo-size-1: calc(var(--font-size-1)*1.618 *1.4);

        --button-size-1: calc(var(--logo-size-1) / var(--golden-ratio) * 1.1);

        --heading-margin: 0;
    
        --font-family-1: 'Poppins';
        --font-family-2: 'Rubik';
        
        --font-color-1: rgba(46, 31, 39, 1);
        --basecolor-1: rgba(190, 186, 180, 1);
        --basecolor-2: calc(var(--cell-size)* .9 ) ;
    
    }

    .text-margin{
        margin: 0 var(--LR-margins) 0 var(--LR-margins);
    }

    .scroll-bar-div{
        width: 100%;
        height: 98vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        /* outline: auto; */
    }
    
    .scroll-bar-div::after{
        content: '';
        display:flex;
        width: 100%;
        height: 2px;
        background-color: blue;
        /* box-shadow: 0px 0px 80px calc(20.8rem ) var(--basecolor-1); */
    
    }
    
    .scroll-containers{
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    
    .scroll-size-function{
        width: 100%;
        height: 98vh;
        display: flex;
        justify-content: left;
        align-items: top;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
    
    }
    .scroll-items-size{
    
        min-width: 100%;
        height: 95vh;
        /* cursor: pointer; */
        /* border: 6px solid blue; */
        overflow: hidden;
    }
    
    .scroll-img{
        position: relative;
        left: 24%;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    

    .scroll-texts{
        color: var(--basecolor-1);
        width: 27.58%;
        /* 27.58% */
        top: calc(100vh * -0.618 );
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    .scroll-texts::before{
        z-index: -1;
        left: calc(-100vw * 0.618 * 0.618 * 0.618);
        top: calc(100vh * -0.618 );
        position: absolute;
        content: '';
        display: flex;
        width: 52vw;
        transform-origin: left;
        height: 290vh;
        background-color: var(--font-color-1);
        filter: blur(45px);        /* box-shadow: 100px 1px 0px 30px black; */
        /* calc(24.5rem ) var(--basecolor-1) var() */
    }
    .scroll-texts::after{

        opacity: 0;

        /* box-shadow: 100px 1px 0px 30px black; */
        /* calc(24.5rem ) var(--basecolor-1) var() */
    }



    .bookButton{
        font-size: var(--button-size-1);
        padding: var(--button-top) var(--button-sides) var(--button-top) var(--button-sides) ;
        top: 86%;
    }
    .bookButton:hover {
        box-shadow: 0px 0px 0px calc(0.25rem) var(--font-color-1) inset;
        border-color: var(--font-color-1) ;
        /* text-shadow: 2px 5px 0px rgba(46, 31, 39, 0.3); */
    }
    
    
}