    /* 
    vvvvvvvvvvvvvvvvvvvvvvvvvvvv
        Book Button
    vvvvvvvvvvvvvvvvvvvvvvvvvvvv
    */

    .bookButton{
        font-size: var(--button-size-1);
        padding: var(--button-top) var(--button-sides) var(--button-top) var(--button-sides) ;
        bottom: 5vh;
    }
    .bookButton:hover {
        box-shadow: 0px 0px 0px calc(0.30vw) var(--font-color-1) inset;
        border-color: var(--font-color-1) ;
        /* text-shadow: 2px 5px 0px rgba(46, 31, 39, 0.3); */
    }