
:root {
    /*      USE:    
            var()   
    */
    
    --golden-ratio: 1.618;

    --font-size-1: 5vw;
    
    --logo-size-1:  calc(3.3vh*1.618);

    --button-size-1: calc(var(--font-size-1)*1.618);

    --button-sides: calc(100vw * .618 * .618 * .618 * .618 * .618 );
    --button-sides-bottom-gap:  calc(100vh*.618 * .618 * .618 * .618 * .618 * .618 * .618);;
    --button-top: calc(var(--button-sides) * .618 * .618 * .618 * .618 * .618   );


    --heading-margin:  calc( var(--logo-size-1)  * .618);
    --LR-margins: calc(100vw * .618 * .618 * .618 * .618 * .618 );

    --scroll-height: 101vh;
    /* calc( 100vh - calc(var(--logo-size-1)*1.618) ) */
    
    
    --font-family-1: 'Poppins';
    --font-family-2: 'Rubik';
    
    --font-color-1: rgba(46, 31, 39, 1);
    --bright-color-1: rgba(236, 225, 225, 1);
    --basecolor-1: rgba(190, 186, 180, 1);
    --basecolor-2: calc(var(--cell-size)* .9 ) ;
}
