
/* 
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
    LOGO Typeography
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/

.logo-box{
    /* display: flex; */
    display: inline-block;
    align-items: center;    
    text-align: center;
    padding: var(--heading-margin) 0 0 0;
}
.logo{
    display: inline-block;
    /* display: flex;
    margin: 0 0 0 0;
    align-items: end; */
    /* height: calc(var(--logo-size-1)* 1.9); */
    font-family: var(--font-family-1);
    font-weight: bolder;

    font-size: calc(var(--logo-size-1));
}
.logo2{
    /* display: flex;
    margin: 0 0 0 0;
    align-items: end; */
    /* height: calc(var(--logo-size-1)* 1.9); */
    display:  inline-block;
    font-family: var(--font-family-1);
    font-weight: lighter;
    font-size: calc(var(--logo-size-1)* .89);
}


/* 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    LOGO Typeography
^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/




/* 
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
    Typeography
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/

.text-margin{
    margin: 0 var(--LR-margins) 0 var(--LR-margins);
}

p{
    margin-top: 0;
    margin-bottom: 0;

}

.text{
    font-size: var(--font-size-1);
    font-weight: normal;
}

.title{

    font-size: calc(var(--font-size-1) * 1.618);
    font-weight: bold;
    
}



.scroll-texts{
    color: var(--bright-color-1);
    display: flex;
    flex: 1;
    gap: 0em;
    flex-direction: column;
    position: sticky;
    z-index: 1;
    bottom: calc(var(--logo-size-1) + 20vh);

}

.scroll-texts::after{
    z-index: -1;
    position: absolute;
    content: '';
    display:flex;
    background-color: var(--font-color-1);
    width: 200vw;
    height: 200vh;
    right: -100%;
    top: -3vh;
    filter: blur(40px);
    /* opacity: 0; */
    /* box-shadow: 100px 1px 0px 30px black; */
    /* calc(24.5rem ) var(--basecolor-1) var() */
}







/* 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    Typeography
^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/



