

    @use '../_breakpoints.scss' as *;

/* 
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
    LOGO Typeography
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/

.logo-box{
    /* display: flex; */
    display: inline-block;
    align-items: center;    
    text-align: center;
    padding: var(--heading-margin) 0 0 0;






}
.logo{
    display: inline-block;
    /* display: flex;
    margin: 0 0 0 0;
    align-items: end; */
    /* height: calc(var(--logo-size-1)* 1.9); */
    font-family: var(--font-family-1);
    font-weight: bolder;

    font-size: calc(var(--logo-size-1));
}
.logo2{
    /* display: flex;
    margin: 0 0 0 0;
    align-items: end; */
    /* height: calc(var(--logo-size-1)* 1.9); */
    display:  inline-block;
    font-family: var(--font-family-1);
    font-weight: lighter;
    font-size: calc(var(--logo-size-1)* .89);
}


/* 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    LOGO Typeography
^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/




/* 
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
    Typeography
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/

.text-margin{
    margin: 0 var(--LR-margins) 0 var(--LR-margins);
}

p{
    margin-top: 0;
    margin-bottom: 0;

}

.text{
    font-size: var(--font-size-1);
    font-weight: normal;
}

.title{

    font-size: calc(var(--font-size-1) * 1.618);
    font-weight: bold;
    
}











/* 
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
    Screen Typeography
vvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/

@include myscreen{
    @import '../Horizontal_Adjustments/_typography.scss';

}  

